#homePage{
    display:none;
}
#stillsPage{
    display:none;
}
#sportsPage{
    display:none;
}
#streetPage{
    display:none;
}
#gearPage{
    display:none;
}

.basicText{
    font-family: 'Ubuntu', sans-serif;
    color: #3c4043;
    font-weight: 500;
    
}
.navBarText{
    font-family: 'Roboto', sans-serif;
    color: #3c4043;
    font-weight: 350;
}
#firstHeader{
    /* background-color: #A7C7E7; */
    background-image:url("");
}


  .card{
	border: 1px solid #3c4043;
	padding: 10px;
	box-shadow: 15px 20px #e0dede;
  }

  .thisisforpickingcolorsonly{
	background-image: linear-gradient(#0a2830,#e8e8e8);
}
.cardShadow{
	padding: 10px;
	box-shadow: 15px 13px #e0dede;
    z-index: 999;
}
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
    
}
.imgTransition {
    -webkit-transform: scale(1.04); 
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
    cursor: pointer;
    
}
.imgExpand {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
}
.expand {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
}
.shadowExpand{ 
    -webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
}
/* shadowExpand needed to smoothly add shadow to only header text */
.hrReduce{
    margin-right: +2.4rem !important;
}

.hrReduceBoth{
    margin-right: +20rem !important;
    margin-left: +20rem !important;
}
.descriptionLower{
    margin-top: +1.3rem !important;
}
.reduceBR{
    margin-top: -1rem !important
}

.hide{
    display: none;
}
body{
    overflow-x: hidden;
}

.invert{
    filter: invert(100%);
}



