#fahrenheit{
    font-size:  60px;
}
body{
    overflow:hidden;
}

.mainCard{
    animation: fadeInAnimation ease 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes sideCardAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.sideCards{
    animation: sideCardAnimation ease 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.test{
	background-image: linear-gradient(#0a2830,#fdfdfd);
}
.card{
	border: 1px;
	padding: 10px;
	box-shadow: 15px 20px #e0dede;
  }